@import url("https://use.fontawesome.com/releases/v5.4.1/css/all.css");
@import url('https://fonts.googleapis.com/css?family=Raleway');

body{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
    color:#696969;
}

* {
	box-sizing: border-box;
}

body a {text-decoration: none}
a:link { text-decoration:none; }
/* toutes les images seront responsive avec ce css */
img {width:auto; height:auto;} 

ol, ul {
	list-style: none;
}
    figure{
	display: block;
    margin-block-start: 0 !important;
    margin-block-end: 0 !important;
    margin-inline-start: 0 !important;
    margin-inline-end: 0 !important;

}


/****************************************************************************************/
#allPage{
    width:100%;
    padding: 0;
    margin: auto;
    /*box-shadow: 0px 20px 25px rgba(0, 0, 0, 0.42);*/
    display:grid;
    grid-template-columns: 40% 60%;
    grid-template-areas:"blockNav blockNav"
                        "blockSlider1 blockSlider1" 
                        "blockIntro blockIntro"
                        "blockMain blockMain"
                         "blockContact blockContact"
                         "blockAside blockSlider2"
                         "blockFooter blockFooter";
  /* grid-template-columns:1fr 1fr 1fr 1fr ;
    grid-template-areas:"blockNav blockNav blockNav blockNav"
                        "blockSlider1 blockSlider1 blockSlider1 blockSlider1" 
                        "blockMain blockMain blockMain blockMain"
                         "blockAside blockContact blockContact blockContact"
                         "blockSlider2 blockSlider2 blockSlider2 blockSlider2"
                         "blockFooter blockFooter blockFooter blockFooter";*/
               

}   
  
/*************************** block Nav inside menu *****************************************/              
#blockNav{
    grid-area:blockNav;
     padding: 0;
    width: 100%;
    margin: auto;
   
}

nav {
  position: fixed;
  top: 0;
  width: 90%;
  z-index: 1000;
  transition: .1s;
}
.menu{
    padding: 0;
    margin: auto;
    display: flex;
    justify-content:space-evenly; 
    
}

 .menu li{
    
    background: rgb(138, 2, 42);
    color:#fff;
    border-left: 1px solid #fff;
    text-align: center;
}
.menu .active{
  background: black;
  color: #fff;
}

.menu li a{
    width:100%;
    height: 3rem;
    text-align: center;
    line-height: 3rem;
    padding: 1.2rem;
    color: #f2f2f2;
    
 }
 nav li a {
  color: #f2f2f2;
   padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

 /**********************2menu***********************/
 


nav a.active,
nav a:hover {
  background-color:black;
  color:#fff;
}

nav ul {
  padding: 0;
  overflow: hidden;
  background-color:rgb(138, 2, 42);
}

/*******************burger Max ***********/



 

/*************************** block Slider *****************************************/   
#blockSlider1{
   grid-area:blockSlider1;
   width: 100%;
   padding:0;
    margin: auto;
    
    
}

/*************************** block Intro *****************************************/ 
#blockIntro{
    grid-area:blockIntro;
    background-color:greenk;
    padding: 0;
    width:100%;
    margin: auto;
    
}
.capiten{
  width:80%;
  margin: auto;
}
#blockIntro h1{
   text-align: center;
   padding: 2rem;
    
}
#blockIntro p{
    text-align: justify;
    
     
 }

 /************* CLOCK *********/
#time{
  font-size: 3rem;
  background: rgb(138, 2, 42);
  padding:1rem;
  }


.clock{
width:100%;

}
 

#blockMain{
    width: 80%;
    margin: auto;
    grid-area: blockMain;
    height: auto;
}

#blockAside{
    grid-area: blockAside;
  
    height: auto;
}

#blockContact{
    grid-area:blockContact;
    width:100%;
    padding-top: 4rem;
    margin: auto;
   
    
    height: auto;
}

#blockSlider2{
    grid-area: blockSlider2;
 
    height: auto;
}

#blockFooter{
    grid-area: blockFooter;
    background-color:rgb(138, 2, 42);
    height: 20vh;
}




/***** HuguesCap block *******/
#huguesCap{
  padding: 3rem;
    
}
#huguesCap h2{
   text-align: center;
  
      
  }

#huguesCap p{
    text-align: justify;
   
       
   }

.hugPhoto{
    float: left;
    padding: 0 2rem 2rem 0;
}


/***** LPhilippe Auguste block *******/
#philippeAuguste{
    padding: 3rem;
  }
 #philippeAuguste h2{
  text-align: center;
           
    }
  
  #philippeAuguste p{
      text-align: justify;
     
    }
  
  .phiPhoto{
      float: right;
      padding: 0 0 2rem 2rem;
      width: 325px;
      height: 410px;
  }

/***** Louis IX block *******/
#louis{
    padding: 3rem;
      
  }
  #louis h2{
     text-align: center;
    
        
    }
  
  #louis p{
      text-align: justify;
     
         
     }
.louPhoto{
    float: left;
    padding: 0 2rem 2rem 0;
    width: 325px;
    height: 410px;
}

/***** LPhilippe le Bel block *******/
#philippeBel{
    padding: 3rem;
  }
 #philippeBel h2{
  text-align: center;
           
    }
  
  #philippeBel p{
      text-align: justify;
     
    }
  
  .phiPhotoBel{
      float: right;
      padding: 0 0 2rem 2rem;
      width: 325px;
      height: 410px;
  }
  

/************* all Kings of bottons *********/

#more, #moreP, #moreL, #moreBel{
    display: none;
   
}
#myBtn, #myBtnP, #myBtnL, #myBtnBel{
    padding: 1rem 2rem;
    background: rgb(138, 2, 42);
    font-size: 1rem;
    font-family: Roboto, sans-serif;
    color:#fff;
}

.butP, .butBel{
    padding:0 0 0 0;
}



/************* slider 2 *********/
#my-slider {
	width: 35.625rem;
	height:16.875rem;
	overflow: hidden;
  font-size: 0;
  padding: 2rem;
	margin: 0 auto;
}

#my-slider-runner {
	white-space: nowrap;
	transition: margin 1s ease 0s;
}

#my-slider > #my-slider-runner > img {
	display: inline-block;
	width: 35.625rem;
	height:16.875rem;
}

/*******slider 1********/
.capSlider{
    width:60%;
    padding:0;
    height:auto;
    position:relative;
    top:5%;
    margin:auto;
  }
  .slides{
    display:none;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  .slides img{
    width:100%;
    height:80vh;
    border: 2rem solid rgb(138, 2, 42);
  }
  .prev,.next{
    cursor:pointer;
    position:absolute;
    top:50%;
    width:auto;
    margin-top: -1.375rem;
    padding: 1rem;
    color: black;
    font-weight: bold;
    font-size: 1.125rem;
    transition: 0.6s ease;
    border-radius: 0 0.1875rem 0.1875rem 0;
    user-select: none;
  }
  .next{
    right:0;
    border-radius:0 0.3125rem 5px0.3125rem 0;
  }
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  .number{
    color:#fff;
    font-size:24px;
    padding:5px 0.625rem;
    position:absolute;
    top:0;
  }
  .dot{
    cursor:pointer;
    width:20px;
    height:20px;
    border-radius:50%;
    margin:0 0.3125rem;
    display:inline-block;
    background:#ccc;
    transition:0.6s ease;
  }
  .active, .dot:hover {
    background-color: #555;
  }
  @keyframes fade{
    0%{opacity:0.4;}
    100%{opacity:1;}
  }

  
  .parallaxCap{
    padding-top: 5em;
    padding-bottom: 50vh;
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 16vh;
    background-image: url(../image/roi.png);
    background-attachment: fixed;
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    z-index: 99;
}




.parallaxCap h1{
  padding-top:5rem;
  font-size: 5rem;
  color:rgb(138, 2, 42);
   margin:auto;
  text-align: center;
    
}
.parallaxCap h3{
    margin-top: 1em;
}






.contact-form-big{

  padding-top: 5em;
  padding-bottom: 5em;
  grid-area:devis-form-big ;
  background-image: url(../img/4img.jpg);
  
  
  }
  
  .contact-form{
  width:80%;
  margin:auto;
  background: #ffffff;
  height:60em;
  padding-bottom: 5em;
  border-radius: 5px;
  }
 /* 
  .contact-form h2 {
  font-family:'roboto', sans-serif;
  font-weight:400;
  font-size:2em;
  color: #858585;
  padding: 1em 0;
  text-align: center;
  }*/
  .contact-champs{
  width: 90%;
  margin:auto;
  display:grid;
  grid-template-columns:20% 60% ;
  }
  
  .contact-champs label{
  font-size:1em ;
  font-family: Roboto, sans-serif;
  padding: 15px 20px;
  margin-top: 30px;
  }
  .contact-form input,
  .contact-form textarea,
  .contact-form select{
  width: 100%;
  font-size: 1em;
  border: none;
  background: #f0f0f0;
  padding: 15px 20px;
  margin-top: 30px;
  font-family: Roboto, sans-serif;
  
  }
  
  .contact-form .btn-contact
  {
  width: 54%;
  font-size: 1.5em;
  font-family: Roboto, sans-serif;
  color: #fff;
  border: none;
  background: rgb(138, 2, 42);
  padding: 15px 0;
  border-radius: 4px;
  margin-left: 50%;
  transform: translate(-50%);
  
  
  }
  
  .alert-error {
  width: 50%;
  margin: 1em auto;
  padding: 10px;
  border: 1px solid #a94442;
  color: #a94442;
  background: #f2dede;
  border-radius: 5px;
  text-align: center;
  
  }
  .alert-success {
  color: #3c763d;
  background: #dff0d8;
  border: 1px solid #3c763d;
  margin-bottom: 20px;
  }
  .myCapt{
  padding: 2em 17.5em;
  }
  
  
  @media (min-width: 768px) and (max-width: 1024px) {
  
  

    
  }
  
  @media screen and (max-width: 767px){
  /*@media (min-width: 768px) {*/

  
    
/******Paralax*******/

.parallaxCap{

  display: none;
}






  
 /* menu responsive*/ 

 #blockNav {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  transition: .1s;
 
} 
 .menu{
      padding: 0;
      margin: auto;
      display:block;
      justify-content:center;

        
  }
  
   .menu li{
      
      background: none;
      color:#fff;
      border-left: 1px solid #fff;
      text-align:centre;
  }
  .menu li a{
    width:50%;
   
    text-align: center;
    line-height:none;
    padding: 1rem;
    color: #f2f2f2;
    
 }
 nav li a {
  color: #f2f2f2;
   padding: none;
  text-decoration: none;
  font-size: 17px;
}


.phiPhoto{
  
  padding: 0 0 2rem 2rem;
  width: 325px;
  height: 410px;
}


/******block Inro **/
#blockIntro{
 
  padding-top:13rem;
  width:100%;
  margin: auto;
  
}


/**************************/
#huguesCap{
  padding: 0;
  margin: auto;
  width: 100%;
    
}

.hugPhoto{
  float: left;
  padding:0;
  width: 100%;
}
/**************************/

#louis{
  padding: 0;
  margin: auto;
  width: 100%;
}

.louPhoto{
  float: left;
  padding:0;
  width: 100%;
}

/**************************/

#philippeBel{
  padding: 0;
  margin: auto;
  width: 100%;
}

.phiPhotoBel{
  float: left;
  padding:0;
  width: 100%;
}



/**************************/

#philippeAuguste{
  padding: 0;
  margin: auto;
  width: 100%;
}

.phiPhoto{
  float: left;
  padding:0;
  width: 100%;
}


   /* form responsive*/ 
  .myCapt{
      padding: 1em 1em;
  }
 
  .contact-form{
      width:90%;
      margin:auto;
      background: #ffffff;
      height:60em;
      padding-bottom: 5em;
      border-radius: 5px;
  }
  
  .contact-form{
      margin:auto;
  
  }
  .contact-form h2{
      color: #ffffff;
  }
  .contact-champs label{
      display: none;
  }
  .contact-champs{
      grid-template-columns:100% ;
  }
  .contact-form .btn-contact
  {
      width: 90%;
      font-size: 1em;
  }
  
 
  }



  /*****burger****/


  
  /**************** RESPONSIVE ************/
  
  @media (min-width: 1281px) {
  
   
    
  }


  @media (min-width: 1025px) and (max-width: 1280px) {
  

    
  }


  @media (min-width: 768px) and (max-width: 1024px) {
  
  
    
  }
  @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  
 
    
  }

  @media (min-width: 481px) and (max-width: 767px) {
  

    
  }

  @media (min-width: 320px) and (max-width: 480px) {
  
  
    
  }